In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import time
import datetime
import re

from pandas import DataFrame

In [ ]:
filename =

In [2]:
df = pd.read_csv('C:/Users/XioHan.Lau/Downloads/open-shopee-code-league-logistic/delivery_orders_march.csv')
#df['event_time'] = pd.to_datetime(data['event_time'])
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

df_f1 = df.groupby('orderid')
df_f1.head()

In [ ]:
df['pick'].dtype

In [ ]:
#s_datetime = datetime.datetime.strptime(s, '%Y%m%d')
def to_datetime(pickup):
    pickup.strftime("%Y-%m-%d")

In [ ]:
df['pickup2'] = df['pickup'].apply(to_datetime)
df.head()

In [3]:
#df['pickup_long'] = df['pick'].astype(float)
#df['pickup_long'] = (df['pickup_long'])/1000
df[['pick','1st_deliver_attempt','2nd_deliver_attempt']] += 8*60*60
df['pickup'] = pd.to_datetime(df['pick'],unit='s').dt.date
df['1st_deli']=pd.to_datetime(df['1st_deliver_attempt'],unit='s').dt.date
df['2nd_deliver_attempt'] = df['2nd_deliver_attempt'].replace(np.nan,0)
df['2nd_deli']=pd.to_datetime(df['2nd_deliver_attempt'],unit='s').dt.date
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pickup,1st_deli,2nd_deli
0,2215676524,1583167197,1.583414e+09,0.000000e+00,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,1970-01-01
1,2219624609,1583338768,1.583492e+09,1.583827e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10
2,2220979489,1583335234,1.583489e+09,0.000000e+00,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,1970-01-01
3,2221066352,1583447816,1.583585e+09,0.000000e+00,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,1970-01-01
4,2222478803,1583347105,1.583509e+09,0.000000e+00,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,1970-01-01

In [ ]:
df['pickup'].dtype
df['pick2']= df['pick'].astype('datetime64[s]')
df['first2'] = df['1st_deliver_attempt'].astype('datetime64[s]')
df['second2'] = df['2nd_deliver_attempt'].astype('datetime64[s]')
df['pick'].dtype

df['buy_mm']=df['buyeraddress'].str.contains(pat = 'metro manila')
df.head()

def get_city(buyeraddress):
    if buyeraddress.contains(pat='metro manila'):
        return 'metro manila'
    elif buyeraddress.contains(pat='luzon'):
        return 'luzon'
    elif buyeraddress.contains(pat='visayas'):
        return 'visayas'
    else:
        return 'mindanao'

In [4]:
def get_city2(buyeraddress):
    if re.search("metro manila",buyeraddress,re.I):
        return 'metro manila'
    elif re.search("luzon",buyeraddress,re.I):
        return 'luzon'
    elif re.search("visayas",buyeraddress,re.I):
        return 'visayas'
    else:
        return 'mindanao'

In [5]:
df['buyer_city'] = df['buyeraddress'].apply(get_city2)
df['seller_city'] = df['selleraddress'].apply(get_city2)
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pickup,1st_deli,2nd_deli,buyer_city,seller_city
0,2215676524,1583167197,1.583414e+09,0.000000e+00,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,1970-01-01,metro manila,metro manila
1,2219624609,1583338768,1.583492e+09,1.583827e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,metro manila,metro manila
2,2220979489,1583335234,1.583489e+09,0.000000e+00,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,1970-01-01,metro manila,metro manila
3,2221066352,1583447816,1.583585e+09,0.000000e+00,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,1970-01-01,metro manila,metro manila
4,2222478803,1583347105,1.583509e+09,0.000000e+00,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,1970-01-01,luzon,metro manila

In [6]:
def get_SLA(buyer_city,seller_city):
    if buyer_city == 'metro manila' and seller_city =='metro manila':
        return 3
    elif buyer_city == 'metro manila' and seller_city =='luzon':
        return 5
    elif seller_city == 'metro manila' and buyer_city =='metro manila':
        return 3
    elif seller_city == 'metro manila' and buyer_city =='luzon':
        return 5
    elif seller_city == 'luzon' and buyer_city =='luzon':
        return 5
    else:
        return 7

In [7]:
df['SLA'] = np.vectorize(get_SLA)(df['buyer_city'], df['seller_city'])

In [12]:
df['day']= df['1st_deli']-df['pickup']
df['day2']=df['2nd_deli']-df['1st_deli']
df['day_int']= df['day'].dt.days-df['public_holi']-df['sunday']
df['day2_int']= df['day2'].dt.days-df['public_holi2']-df['sunday2']

df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pickup,1st_deli,2nd_deli,buyer_city,seller_city,SLA,public_holi,public_holi2,sunday,sunday2,day,day2,day_int,day2_int
0,2215676524,1583167197,1.583414e+09,0.000000e+00,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,1970-01-01,metro manila,metro manila,3,0,0,0,0,3 days,-18326 days,3,-18326
1,2219624609,1583338768,1.583492e+09,1.583827e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,metro manila,metro manila,3,0,1,0,0,2 days,4 days,2,3
2,2220979489,1583335234,1.583489e+09,0.000000e+00,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,1970-01-01,metro manila,metro manila,3,0,0,0,0,2 days,-18327 days,2,-18327
3,2221066352,1583447816,1.583585e+09,0.000000e+00,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,1970-01-01,metro manila,metro manila,3,0,0,0,0,2 days,-18328 days,2,-18328
4,2222478803,1583347105,1.583509e+09,0.000000e+00,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,1970-01-01,luzon,metro manila,5,0,0,0,0,2 days,-18327 days,2,-18327

In [13]:
def get_late(SLA, day_int, day2_int):
    if day_int <= SLA or day2_int <= 3:
        return 0
    else:
        return 1

In [14]:
df['is_late']= np.vectorize(get_late)(df['SLA'],df['day_int'], df['day2_int'])
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pickup,1st_deli,2nd_deli,buyer_city,...,SLA,public_holi,public_holi2,sunday,sunday2,day,day2,day_int,day2_int,is_late
0,2215676524,1583167197,1.583414e+09,0.000000e+00,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,1970-01-01,metro manila,...,3,0,0,0,0,3 days,-18326 days,3,-18326,0
1,2219624609,1583338768,1.583492e+09,1.583827e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,metro manila,...,3,0,1,0,0,2 days,4 days,2,3,0
2,2220979489,1583335234,1.583489e+09,0.000000e+00,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,1970-01-01,metro manila,...,3,0,0,0,0,2 days,-18327 days,2,-18327,0
3,2221066352,1583447816,1.583585e+09,0.000000e+00,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,1970-01-01,metro manila,...,3,0,0,0,0,2 days,-18328 days,2,-18328,0
4,2222478803,1583347105,1.583509e+09,0.000000e+00,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,1970-01-01,luzon,...,5,0,0,0,0,2 days,-18327 days,2,-18327,0

In [15]:
df1 = df[['orderid', 'is_late']]
df1.head()
df1.to_csv ('C:/Users/XioHan.Lau/Desktop/xh_delivery_orders_march6.csv', index = None, header=True)

In [8]:
def get_sunday(pickup,first_deli):
    if pickup <= datetime.date(2020,3,1) and first_deli >= datetime.date(2020,3,1):
        return 1
    elif pickup <=  datetime.date(2020,3,15) and first_deli >= datetime.date(2020,3,15):
        return 1
    elif pickup <=  datetime.date(2020,3,22) and first_deli >= datetime.date(2020,3,22):
        return 1
    elif pickup <=  datetime.date(2020,3,29) and first_deli >= datetime.date(2020,3,29):
        return 1
    elif pickup <=  datetime.date(2020,4,5) and first_deli >= datetime.date(2020,4,5):
        return 1
    else:
        return 0

In [9]:
def get_ph(pickup,first_deli):
    if pickup <=  datetime.date(2020,3,8) and first_deli >= datetime.date(2020,3,8):
        return 1
    elif pickup <=  datetime.date(2020,3,25) and first_deli>=datetime.date(2020,3,25):
        return 1
    elif pickup <=  datetime.date(2020,3,30) and first_deli >= datetime.date(2020,3,30):
        return 1
    elif pickup <=  datetime.date(2020,3,31) and first_deli >= datetime.date(2020,3,31):
        return 1
    else:
        return 0

In [11]:
df['public_holi'] = np.vectorize(get_ph)(df['pickup'], df['1st_deli'])
df['public_holi2'] = np.vectorize(get_ph)(df['1st_deli'], df['2nd_deli'])
#df['public_holi_total']=df['public_holi']+df['public_holi2']
df['sunday'] = np.vectorize(get_sunday)(df['pickup'], df['1st_deli'])
df['sunday2'] = np.vectorize(get_sunday)(df['1st_deli'], df['2nd_deli'])
#df['sun_total']=df['sunday']+df['sunday2']
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,pickup,1st_deli,2nd_deli,buyer_city,seller_city,SLA,public_holi,public_holi2,sunday,sunday2
0,2215676524,1583167197,1.583414e+09,0.000000e+00,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,2020-03-02,2020-03-05,1970-01-01,metro manila,metro manila,3,0,0,0,0
1,2219624609,1583338768,1.583492e+09,1.583827e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",2020-03-04,2020-03-06,2020-03-10,metro manila,metro manila,3,0,1,0,0
2,2220979489,1583335234,1.583489e+09,0.000000e+00,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",2020-03-04,2020-03-06,1970-01-01,metro manila,metro manila,3,0,0,0,0
3,2221066352,1583447816,1.583585e+09,0.000000e+00,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",2020-03-05,2020-03-07,1970-01-01,metro manila,metro manila,3,0,0,0,0
4,2222478803,1583347105,1.583509e+09,0.000000e+00,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,2020-03-04,2020-03-06,1970-01-01,luzon,metro manila,5,0,0,0,0

In [ ]:
unique_orderid = df['orderid'].unique()
print(f'{len(unique_orderid)} orders unique')

In [ ]:
unique_shopid = df['shopid'].unique()
print(f'{len(unique_shopid)} shops unique')

In [ ]:
shopid_over3_df = pd.DataFrame(df.groupby('shopid').size()[df.groupby('shopid').size() >= 3]).to_dict()
shopid_over3 = shopid_over3_df[0].keys()
print(f'{len(shopid_over3)} shops more than 3 orders')

In [ ]:
shopid_over3_df

In [ ]:


grouped_data = data.pivot_table(index=['date', 'hour', 'userid'], values=['orderid'], aggfunc='count')
grouped_data[grouped_data['orderid'] >= 3]

In [ ]:
final_output.loc[final_output["shopid"] == unique_shop[nUniqshop], "userid"] = final_output['userid'].astype(str) + "," + df_user_count

In [ ]:
df = pd.DataFrame(data, columns= ['orderid','shopid','userid','event_time'])
df['event_time'] = pd.to_datetime(df['event_time'])

In [ ]:
df_f1= df_f1.sort_values(by=['shopid','event_time'])
#df_f1=pd.DataFrame({'count':df_f1.groupby(['shopid','userid','event_time']).size()}).reset_index()
df_f1 = df_f1.assign(date=data['event_time'].dt.date, hour=data['event_time'].dt.hour,minute=data['event_time'].dt.minute,second=data['event_time'].dt.second)
#df_f1['total_second']= (data['event_time'] - datetime(1970, 1, 1)).dt.total_seconds()
df_f1['total_second']= df_f1['hour']*60*60+ df_f1['minute']*60 + df_f1['second']
df_f1['range']= df_f1['total_second']+3600
df_f1['More than 1H'] = (df_f1['event_time'] - df_f1['event_time'].shift(1)).astype('timedelta64[s]')
#df_f1['frequency']= (df_f1['total_second'].diff().fillna(df_f1['total_second']+1)>3600).cumsum()
#df_f1['frequency']=((df_f1.groupby(['shopid','date'])['total_second'].diff())<3600).cumsum()
#df_f1['frequency']=np.where((df_f1.groupby(['shopid','date'])['total_second'].diff())<3600,1,0)
df_f1['frequency']=np.where(((df_f1['total_second']-df_f1['total_second'].shift())<3600),1,0)
df_f1[['sum_shop']]=df_f1.groupby(['shopid'])['frequency'].agg(['cumsum'])
df_f1['sum_shop2']=df_f1.groupby('shopid')['frequency'].cumsum()
df_f1[['sum_user']]=df_f1.groupby('userid')['frequency'].agg(['cumsum'])
df_f1['concentrate_rate'] = df_f1['sum_shop']/df_f1['sum_user']
df_f1.head(20)

In [ ]:
df_f1.describe()

In [ ]:
df_f1.tail(20)

In [ ]:
df_f1 = data.groupby('shopid').filter(lambda x : len(x)>1)

In [ ]:
df_f1= df_f1.sort_values(by=['shopid','event_time'])

df_f1 = df_f1.assign(date=data['event_time'].dt.date, hour=data['event_time'].dt.hour,minute=data['event_time'].dt.minute,second=data['event_time'].dt.second)
df_f1['total_second']= df_f1['hour']*60*60+ df_f1['minute']*60 + df_f1['second']
df_f1['range']= df_f1['total_second']+3600
df_f1['More than 1H'] = (df_f1['event_time'] - df_f1['event_time'].shift(1)).astype('timedelta64[h]')
df_f1.head(30)

In [ ]:
brushing_list = {}
gb = df_f1.groupby(['shopid','userid','event_time']) 
gb.head(30)
#groups = [gb.get_group(x) for x in gb.groups]

In [ ]:
for g in groups:
#g['next2'] = g.event_time.shift(periods=-2)
  if g.iloc[0]['shopid'] not in brushing_list:
    brushing_list[g.iloc[0]['shopid']] = []
  for index, row in g.iterrows():
      #print(row['shopid'], row['userid'])
      if pd.to_datetime(row['next2']) is not pd.NaT:
        td = pd.to_datetime(row['next2']) - pd.to_datetime(row['event_time'])
        if td < pd.offsets.Second(3600) and row['userid'] not in brushing_list[row['shopid']]:
          brushing_list[row['shopid']].append(row['userid'])

In [ ]:
df_f2=df_f1.set_index('event_time').groupby('event_time').resample('H')['count'].sum()

In [ ]:
df_f2.head(120)